* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

main {
  background-image: image("../images/fondo-pag-speciali.jpg");
  height: 1000px;
}

header {
  text-align: center;
}

ul li {
  display: inline-block;
}

ul li a {
  display: inline-block;
  padding: 20px;
  text-decoration: none;
  color: #1c1a1a;
  font-weight: bold;
}

ul li a:hover {
  background-color: #b6dbe4;
}

